#apps{
    background-color:aliceblue;
}
#game{
    background-color:coral;
}
#chatbot{
    background-color:lightblue;
}
body{
    text-align:center;
}
h1{
    font-size:40px;
    font-weight:300;
}
.line{
    height:6px;
    background-color:black;
    width:70px;
    margin:8px auto;
}
img{
    width:30%;
}